
<span>Result: {{ updateResults }}</span>
<form name="updateCardsForm" ng-if="!submittingCard" ng-submit="updateCardsForm.$valid && update(card)" novalidate>

    <error-message ng-show="updateCardsForm.$dirty && updateCardsForm.question.$error.required">
        Question is required.
    </error-message>
    <error-message ng-show="updateCardsForm.question.$error.minlength">
        Question is too short.
    </error-message>

    <input placeholder="question" name="question" required ng-minlength="15" type="text" ng-model="card.question" /><br />

    <error-message ng-show="updateCardsForm.$submitted && updateCardsForm.category.$error.required">
        Category is required!
    </error-message>

    <select name="category" required ng-model="card.category">
        <option>MongoDB</option>
        <option>Express</option>
        <option>Angular</option>
        <option>Node</option>
    </select><br />

    <div ng-repeat="answer in card.answers">
        <input placeholder="answer" required name="answerText{{ $index + 1 }}" ng-maxlength="40" type="text" ng-model="answer.text" />
        <input type="checkbox" ng-model="answer.correct" />
    </div>

    <button type="submit">Submit</button>

</form>